### Thursday
1. Colin Franklin-Hicks, checking in, searched, was unable to check in, No search results despite being in the group for check in
2. Same classroom as ^ Anderson family, all of their kids showed up
3. Garbled characters in the pickup receipt
4. Lucy Wood - Mother is Jana Smith

### Friday
1. Checked in kid, said was checked in and nothing printed. Restarting printer helped. Alert, no labels found for the selection when trying to reprint.
2. Garbled tag numbers on more kids today
3. Room name, several with '&' after the room name printing on the ticket
4. Sometimes check boxes are checked, other times not. Seems random